<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="referrer" content="no-referrer">

    {% if page.sitemap == false %}
      <meta name="robots" content="noindex" />
    {% endif %}

    {% for language in site.languages %}
      {% assign url = page[language] %}

      {% if url %}
        <link rel="alternate" hreflang="{{ language }}" href="{{ url }}" />
      {% endif %}
    {% endfor %}

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link rel="webmention" href="https://webmention.io/dahlstrand.net/webmention" />
    <link rel="pingback" href="https://webmention.io/dahlstrand.net/xmlrpc" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="me" href="https://github.com/svendahlstrand" />
    <link rel="me" href="https://micro.blog/sod" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{ site.baseurl }}/notes/feed.xml" title="Sven's Notes" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
    <link rel="preload" href="/fonts/FaktSoftPro-Normal.woff" as="font" type="font/woff" crossorigin />
    <link rel="preload" href="/fonts/FaktSoftPro-SemiBold.woff" as="font" type="font/woff" crossorigin />

    {% if page.url == '/surprise-me/' %}
      <style>
        html.preparing-surprise {
          visibility: hidden;
        }
      </style>

      <script>
        document.documentElement.classList.add('preparing-surprise');
      </script>
    {% endif %}

    {% if page.collection == 'notes' %}
      <title>{{ page.excerpt | strip_html | truncatewords: 5, "…" }} - Sven Dahlstrand</title>
    {% else %}
      <title>{{ page.title }} - Sven Dahlstrand</title>
    {% endif %}
  </head>
  <body>
    <a href="#navigation" class="button">Skip to navigation</a>

    <hr />

    {{ content }}

    <hr id="navigation" />

    <footer>
      <nav>
        <a href="/">Go home</a>, <a href="/projects/">discover my projects</a>, or <a href="/writing/">thumb through my writing</a> and <a href="/notes/">notes</a>.
      </nav>

      <form method="get" action="/search-space/" class="search-form">
        <input
          id="query"
          type="search"
          name="q"
          placeholder="game boy"
          class="search-field"
          aria-labelledby="search-button"
          required
        />

        <button id="search-button">Search</button>
      </form>
    </footer>

    <script>
      // Enable hover pseudo class on iOS devices.
      document.addEventListener('touchstart', function () {});
    </script>
  </body>
</html>
